absl-py==1.4.0
aiohttp==3.8.5
aiosignal==1.3.1
alembic==1.12.0
antlr4-python3-runtime==4.9.3
asteroid-filterbanks==0.4.0
astroid==2.4.2
asttokens @ file:///home/conda/feedstock_root/build_artifacts/asttokens_1694046349000/work
async-timeout==4.0.3
attrs==23.1.0
audioread==3.0.0
autopep8==1.5.4
av==10.0.0
backcall @ file:///home/conda/feedstock_root/build_artifacts/backcall_1592338393461/work
backports.cached-property==1.0.2
backports.functools-lru-cache @ file:///home/conda/feedstock_root/build_artifacts/backports.functools_lru_cache_1687772187254/work
cachetools==5.3.1
certifi==2023.7.22
cffi==1.15.1
charset-normalizer==3.2.0
click==8.1.7
cmaes==0.10.0
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1666700638685/work
coloredlogs==15.0.1
colorlog==6.7.0
colorthief==0.2.1
comm @ file:///home/conda/feedstock_root/build_artifacts/comm_1691044910542/work
contourpy==1.1.0
cssutils==2.7.1
ctranslate2==3.17.1
cycler==0.11.0
darkdetect==0.8.0
debugpy @ file:///D:/bld/debugpy_1694117929388/work
decorator @ file:///home/conda/feedstock_root/build_artifacts/decorator_1641555617451/work
docopt==0.6.2
einops==0.3.2
executing @ file:///home/conda/feedstock_root/build_artifacts/executing_1667317341051/work
faster-whisper==0.8.0
fastjsonschema==2.16.1
ffmpeg-python==0.2.0
filelock==3.12.2
flake8==3.8.4
flatbuffers==23.5.26
fonttools==4.42.1
frozenlist==1.4.0
fsspec==2023.6.0
future==0.18.3
google-auth==2.22.0
google-auth-oauthlib==1.0.0
greenlet==2.0.2
grpcio==1.58.0
hmmlearn==0.2.8
huggingface-hub==0.16.4
humanfriendly==10.0
HyperPyYAML==1.2.1
idna==3.4
imageio==2.31.1
importlib-metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1688754491823/work
importlib-resources==6.0.1
ipykernel @ file:///D:/bld/ipykernel_1693880431923/work
ipython @ file:///D:/bld/ipython_1680185618122/work
isort==5.5.4
jedi @ file:///home/conda/feedstock_root/build_artifacts/jedi_1690896916983/work
Jinja2==3.1.2
joblib==1.3.2
julius==0.2.7
jupyter_client @ file:///home/conda/feedstock_root/build_artifacts/jupyter_client_1693317508789/work
jupyter_core @ file:///D:/bld/jupyter_core_1686775775850/work
jupyterlab-pygments==0.2.2
kiwisolver==1.4.5
lazy-object-proxy==1.4.3
lazy_loader==0.3
librosa==0.9.2
llvmlite==0.40.1
Mako==1.2.4
Markdown==3.4.4
markdown-it-py==3.0.0
MarkupSafe==2.1.3
matplotlib==3.7.2
matplotlib-inline @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-inline_1660814786464/work
mccabe==0.6.1
mdurl==0.1.2
mpmath==1.3.0
msgpack==1.0.5
multidict==6.0.4
nbclient==0.6.6
nbconvert==6.5.0
nbformat==5.4.0
nest-asyncio @ file:///home/conda/feedstock_root/build_artifacts/nest-asyncio_1664684991461/work
networkx==2.8.8
nltk==3.8.1
Nuitka==1.7.6
numba==0.57.1
numpy @ file:///D:/bld/numpy_1687808486521/work
oauthlib==3.2.2
omegaconf==2.3.0
onnxruntime==1.15.1
optuna==3.3.0
ordered-set==4.1.0
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1681337016113/work
pandas @ file:///D:/bld/pandas_1688740647960/work
parso @ file:///home/conda/feedstock_root/build_artifacts/parso_1638334955874/work
pickleshare @ file:///home/conda/feedstock_root/build_artifacts/pickleshare_1602536217715/work
Pillow==10.0.0
platformdirs @ file:///home/conda/feedstock_root/build_artifacts/platformdirs_1690813113769/work
pluggy==0.13.1
pooch==1.7.0
primePy==1.3
prompt-toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1688565951714/work
protobuf==3.20.1
psutil @ file:///D:/bld/psutil_1681775153467/work
pure-eval @ file:///home/conda/feedstock_root/build_artifacts/pure_eval_1642875951954/work
pyannote.audio==2.1.1
pyannote.core==4.5
pyannote.database==4.1.3
pyannote.metrics==3.2.1
pyannote.pipeline==2.3
pyasn1==0.5.0
pyasn1-modules==0.3.0
PyAudio==0.2.13
pycodestyle==2.6.0
pycparser==2.21
pyDeprecate==0.3.2
pydocstyle==5.1.1
pyflakes==2.2.0
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1691408637400/work
pylint==2.6.0
pyparsing==3.0.9
pyreadline3==3.4.1
PySide6==6.4.3
PySide6-Addons==6.4.3
PySide6-Essentials==6.4.3
PySide6-Fluent-Widgets==1.1.9
PySideSix-Frameless-Window==0.3.2
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1626286286081/work
python-jsonrpc-server==0.4.0
python-language-server==0.35.1
pytorch-lightning==1.6.5
pytorch-metric-learning==1.7.3
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1693930252784/work
pywin32==304
PyYAML==6.0.1
pyzmq @ file:///D:/bld/pyzmq_1691667610361/work
regex==2023.6.3
requests==2.31.0
requests-oauthlib==1.3.1
resampy==0.4.2
rich==13.5.2
rope==0.17.0
rsa==4.9
ruamel.yaml==0.17.28
ruamel.yaml.clib==0.2.7
safetensors==0.3.1
scikit-learn==1.3.0
scipy==1.10.1
semver==2.13.0
sentencepiece==0.1.99
shellingham==1.5.3
shiboken6==6.4.3
simplejson==3.19.1
singledispatchmethod==1.0
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
snowballstemmer==2.0.0
sortedcontainers==2.4.0
SoundFile==0.10.3.post1
soxr==0.3.6
speechbrain==0.5.15
SQLAlchemy==2.0.20
stack-data @ file:///home/conda/feedstock_root/build_artifacts/stack_data_1669632077133/work
sympy==1.12
tabulate==0.9.0
tensorboard==2.14.0
tensorboard-data-server==0.7.1
threadpoolctl==3.2.0
tinycss2==1.1.1
tokenizers @ file:///D:/bld/tokenizers_1680703821699/work/bindings/python
torch @ file:///G:/Download/torch-2.0.1%2Bcu118-cp38-cp38-win_amd64.whl#sha256=e58d26a11bd57ac19761c018c3151c15bc71d068afc8ec409bfd9b4cfcc63a52
torch-audiomentations==0.11.0
torch-pitch-shift==1.2.4
torchaudio==2.0.2
torchmetrics==0.11.4
torchvision==0.15.2
tornado @ file:///D:/bld/tornado_1692311865776/work
tqdm==4.65.0
traitlets==5.3.0
transformers @ file:///D:/Downloads/transformers-4.31.0-py3-none-any.whl#sha256=8487aab0195ce1c2a5ae189305118b9720daddbc7b688edb09ccd79e3b149f6b
typer==0.9.0
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1688315532570/work
tzdata @ file:///home/conda/feedstock_root/build_artifacts/python-tzdata_1680081134351/work
ujson==3.2.0
urllib3==1.26.16
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1673864653149/work
webvtt-py==0.4.6
Werkzeug==2.3.7
yapf==0.30.0
yarl==1.9.2
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1689374466814/work
zstandard==0.21.0
