accelerate==0.21.0
astroid==2.4.2
attrs==23.1.0
autopep8==1.5.4
av==10.0.0
beautifulsoup4==4.12.2
bleach==6.0.0
certifi==2023.5.7
charset-normalizer==3.2.0
colorama==0.4.6
coloredlogs==15.0.1
colorthief==0.2.1
ctranslate2==3.16.1
darkdetect==0.8.0
defusedxml==0.7.1
entrypoints==0.4
faster-whisper==0.6.0
fastjsonschema==2.16.1
filelock==3.12.2
flake8==3.8.4
flatbuffers==23.5.26
fsspec==2023.6.0
huggingface-hub==0.16.4
humanfriendly==10.0
idna==3.4
imageio==2.31.1
importlib-metadata==6.8.0
importlib-resources==6.0.0
isort==5.5.4
Jinja2==3.1.2
jsonschema==4.18.3
jsonschema-specifications==2023.6.1
jupyter_client==8.3.0
jupyter_core==5.3.1
jupyterlab-pygments==0.2.2
lazy-object-proxy==1.4.3
MarkupSafe==2.1.3
mccabe==0.6.1
mistune==0.8.4
mpmath==1.3.0
nbclient==0.6.6
nbconvert==6.5.0
nbformat==5.4.0
nest-asyncio==1.5.6
networkx==3.1
Nuitka==1.7.5
numpy==1.24.4
onnxruntime==1.15.1
ordered-set==4.1.0
packaging==23.1
pandocfilters==1.5.0
Pillow==10.0.0
pkgutil_resolve_name==1.3.10
platformdirs==3.9.1
pluggy==0.13.1
protobuf==4.23.4
psutil==5.9.5
pycodestyle==2.6.0
pydocstyle==5.1.1
pyflakes==2.2.0
Pygments==2.15.1
pylint==2.6.0
pyreadline3==3.4.1
PySide6==6.4.3
PySide6-Addons==6.4.3
PySide6-Essentials==6.4.3
PySide6-Fluent-Widgets==1.0.2
PySideSix-Frameless-Window==0.1.1
python-dateutil==2.8.2
python-jsonrpc-server==0.4.0
python-language-server==0.35.1
pywin32==306
PyYAML==6.0.1
pyzmq==25.1.0
referencing==0.29.3
regex==2023.6.3
requests==2.31.0
rope==0.17.0
rpds-py==0.8.11
safetensors==0.3.1
scipy==1.10.1
shiboken6==6.4.3
six==1.16.0
snowballstemmer==2.0.0
soupsieve==2.4.1
sympy==1.12
tinycss2==1.1.1
tokenizers==0.13.3
toml==0.10.2
torch==2.0.1
tornado==6.3.2
tqdm==4.65.0
traitlets==5.3.0
transformers==4.31.0
typing_extensions==4.7.1
ujson==3.2.0
urllib3==2.0.3
webencodings==0.5.1
wrapt==1.15.0
yapf==0.30.0
zipp==3.16.2
zstandard==0.21.0
