astroid==2.4.2
autopep8==1.5.4
av==10.0.0
certifi==2023.7.22
charset-normalizer==3.2.0
colorama==0.4.6
coloredlogs==15.0.1
colorthief==0.2.1
cssutils==2.7.1
ctranslate2==3.17.1
darkdetect==0.8.0
docopt==0.6.2
faster-whisper==0.7.1
fastjsonschema==2.16.1
filelock==3.12.2
flake8==3.8.4
flatbuffers==23.5.26
fsspec==2023.6.0
huggingface-hub==0.16.4
humanfriendly==10.0
idna==3.4
imageio==2.31.1
isort==5.5.4
Jinja2==3.1.2
jupyterlab-pygments==0.2.2
lazy-object-proxy==1.4.3
MarkupSafe==2.1.3
mccabe==0.6.1
mpmath==1.3.0
nbclient==0.6.6
nbconvert==6.5.0
nbformat==5.4.0
networkx==3.1
Nuitka==1.7.6
numpy==1.24.4
onnxruntime==1.15.1
ordered-set==4.1.0
packaging==23.1
Pillow==10.0.0
pluggy==0.13.1
protobuf==4.23.4
PyAudio==0.2.13
pycodestyle==2.6.0
pydocstyle==5.1.1
pyflakes==2.2.0
pylint==2.6.0
pyreadline3==3.4.1
PySide6==6.4.3
PySide6-Addons==6.4.3
PySide6-Essentials==6.4.3
PySide6-Fluent-Widgets==1.0.2
PySideSix-Frameless-Window==0.1.1
python-jsonrpc-server==0.4.0
python-language-server==0.35.1
pywin32==306
PyYAML==6.0.1
regex==2023.6.3
requests==2.31.0
rope==0.17.0
safetensors==0.3.1
scipy==1.10.1
shiboken6==6.4.3
snowballstemmer==2.0.0
sympy==1.12
tinycss2==1.1.1
tokenizers @ file:///D:/bld/tokenizers_1680703821699/work/bindings/python
torch @ file:///G:/PyTorch_t/torch-2.0.1%2Bcpu-cp38-cp38-win_amd64.whl#sha256=2ac4382ff090035f9045b18afe5763e2865dd35f2d661c02e51f658d95c8065a
tqdm==4.65.0
traitlets==5.3.0
transformers @ file:///D:/Downloads/transformers-4.31.0-py3-none-any.whl#sha256=8487aab0195ce1c2a5ae189305118b9720daddbc7b688edb09ccd79e3b149f6b
typing_extensions==4.7.1
ujson==3.2.0
urllib3==2.0.4
webvtt-py==0.4.6
yapf==0.30.0
zstandard==0.21.0
