AboutPageNavigationInterface{
    background: transparent;
}

#mainObject {
    background-color: rgb(249, 249, 249);
}

QScrollArea {
    border: none;
}

#imageViewer{
    background-color: rgb(249, 249, 249);
}
