#FramlessMainWin{
                    background: rgb(255,255,255);
                }
QLabel{
        font : 15px 'Segoe UI';
        background-color : rgb(242,242,242);
        border-radius : 8px;
        qproperty-alignment: AlignCenter;
    }

QTextBrowser{
                font: 15px 'TimesNewRoman';
            }
            
PushButton{
            background-color : rgb(242,242,242);
        }

