#FramlessMainWin{
                    background-color: rgb(239, 241, 245);
                }

.QLabel{
        font : 15px 'Segoe UI';
        background-color : rgb(230,233,239);
        border-radius : 8px;
        qproperty-alignment: AlignCenter;
    }

QTextBrowser{
                font: 15px 'TimesNewRoman';
            }

