NavigationBaseInterface{
    background-color: transparent;
}

#view {
    background-color: rgb(249, 249, 249);
}

ToolBar{
    background-color: transparent;
}

QScrollArea {
    border: none;
}

ToolBar > CaptionLabel {
    background-color: transparent;
    color: rgb(95, 95, 95);
    qproperty-alignment: AlignLeft;
}

ToolBar > TitleLabel {
    background-color: transparent;
    color: black;
    font : 30px 'Segoe UI';
    font-weight: bold;
    qproperty-alignment: AlignLeft;
}

