#tabView{
    background-color: rgb(43, 43, 43);
}

#controlPanel BodyLabel {
    padding-left: 0px;
}

#controlPanel {
    background-color: rgb(43, 43, 43);
    border-left: 1px solid rgb(50, 50, 50);
    border-top-right-radius: 10px;
}
