StrongBodyLabel{
    font-size: 16px;
    background-color: transparent;
}

CaptionLabel{
    font-size: 12px;
    background-color: transparent;
    color: rgb(200, 200, 200);
}

#mainObject{
    background-color: rgb(43, 43, 43);
    border-radius: 5px;
}
